h1 {
    text-align: center;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

nav{
    width: 50%;
    position: relative;
    left: 25%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

#article1 {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#article2 {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

#article3 {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}