/* Reset CSS */
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image:url("img/bg\,f8f8f8-flat\,750x\,075\,f-pad\,750x1000\,f8f8f8.jpg");
    color: #333;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Media Queries pour le côté responsive */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {
    nav ul li {
        margin-right: 0;
    }
}
.layton {
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 5px;
    margin-left: 10px;
}

.chat {
    height : 200px;
    margin-left: 10px;
}

 h1, ul, ol {
    margin-bottom: 20px;
}

#name{
    color: rgb(179, 221, 25);
    text-shadow: 0 5px 5px;
}


#poste {
    text-decoration: underline dotted;
    color: lightgreen;
}

strong {
    color: rgb(46, 59, 23);
}

#info {
    margin-bottom: 20px;
}

#remember{
    margin-right: 10px;
}

.btn {
    margin-bottom: 10px;
    width: 80%;
    margin-left: 65px;
}

#submit {
    margin-top: 10px;
}

a{
    color: #333;
}

h1, h4, h2 {
    font-family: "Jacquard 24";
}


#home{
    display: flex;
    justify-content: center;
}

.container{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    
}

.container img{
    width: 150px;
    height: 150px;
}

.container button{
    border: none;
    border-radius: 10px;
    background-color: white;
    margin: 15px;
    padding: 10px;
}

.container h3{
    padding: 10px; 
}

#card1, #card2 {
    background: linear-gradient(90deg, rgba(238,2,2,1) 0%, rgba(233,144,38,1) 35%, rgba(208,255,0,1) 78%);
    
}

#card3, #card4{
    background: linear-gradient(90deg, rgb(2, 77, 238) 0%, rgb(38, 171, 233) 35%, rgb(0, 255, 21) 78%);
}

.container a {
    text-decoration: none;
}

.container button:hover{
    background-color: grey;
    box-shadow: 5px 5px 5px rgb(59, 59, 59);
}

.container p{
    padding: 15px;
}

.tp-css{
    background-color: pink;
}

@keyframes pedro{
    100%{
        transform: rotate(360deg);
    }
    
}

.tp-css img {
    animation-name: pedro;
    animation-iteration-count: infinite ;
    animation-duration: 3s;
    width: 400px;
}

.tp  {
    background-color: lightblue;
    animation: test 2s  infinite;
    animation-direction: alternate;
}

@keyframes test {
    from {
        margin-left: 100%;
        width: 100%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}

#table1 {
    margin-top: 50px;
    background-color: lightgrey;
    border: solid black 2px;
    border-collapse: collapse;
}

#table1 td,#table1 th {
    padding: 10px;
    border: solid black 2px;
    text-align: center;
    
}

#table2{
    background-color: rgb(171, 212, 198);
    border: solid black 2px;
    border-collapse: collapse;
}

#table2 td{
    text-align: center;
    padding: 10px;;
    border: solid black 2px;
}

#table2 img {
    width: 100px;
    max-height: 100px;
}