/* Reset CSS */
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* .transition{
    width: 200px;
    height: 150px;
    background-color: blue;
    transition-duration: 2s;
    transition-property: background-color, scale;
}

.transition:hover{
    background-color: red;
    scale: 150%;
}

#photo{
    transition-property: scale, rotate;
    transition-duration: 3s;
}

#photo:hover{
    scale: 150%;
    rotate: 25deg;
} */

.pedro{
    background-color: black;
    width: 500px;
    height: 300px;
}

.img{
    margin-left: 50px;
    height: 300px;
    transition-property: scale;
    transition-duration: 1s;
    animation: pedro 3s infinite linear;
}

@keyframes pedro {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.img:hover {
    scale: 110%;
}

.animation {
    width: 100px;
    height: 100px;
    background-color: palegreen;
    position: relative;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0%   {background-color:palegreen; left:0px; top:0px;
    }
    20%  {background-color:palegoldenrod; left:100px; top:0px;
    }
    40%  {background-color: paleturquoise; left:100px; top:100px;
    }
    50%  {background-color: paleturquoise; left:200px; top:300px;
    }
    60%  {background-color:palevioletred; left:0px; top:300px;
    }
    80%  {background-color:palevioletred; left:0px; top:100px;
    }
    100% {background-color:palegreen; left:0px; top:0px;
    }
}